<div class="col" id="<%= dom_id article %>">
  <div class="card shadow-sm">
    <%- if article.preview_img.present? %>
    <%= image_tag article.preview_img %>
    <% else %>
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    <% end %>
    <div class="card-body">
      <p class="card-text">
        <%= article.title %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to article do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <% end %>
        <% if can? :edit, article%>
          <%= link_to edit_article_path(article) do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          <% end %>
        <% end %>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>


