<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <%= link_to t('header.menu.news'), news_path, class: current_link_class(news_path) %>
        </li>
        <li>
          <%=link_to t('header.menu.reviews'), reviews_path, class: current_link_class(reviews_path) %>
        </li>
        <li>
          <%=link_to t('header.menu.advices'), advices_path, class: current_link_class(advices_path) %>
        </li>
        <li>
          <%=link_to t('header.menu.other'), other_path, class: current_link_class(other_path) %>
        </li>
        <li>
          <%=link_to t('header.menu.about'), about_path, class: current_link_class(about_path) %>
        </li>
      </ul>

     
    </div>
  </div>
</header>